Hi <%= @user.full_name %>
<p class="lead" style="margin:10px">
  We are delighted to have you onboard.
</p>
<p class="lead" style="margin:10px">
  Hope you get what you are here for.
</p>

<p class="lead" style="margin:10px">
  We would love to get your feedback.
</p>


