<div class="row">
  <div class="col-sm-5 col-sm-offset-1" style="margin-top: 1%">
    <div class="panel panel-info">
      <div class="panel-body">
        <%= form_for([:admin, @admin]) do |f| %>
          <div class="form-group">
            <p>
              <%= f.label :email, class: "col-sm-3 control-label" %>
               <div class="col-sm-7">
                 <%= f.text_field :email, class: 'form-control' %><br/> 
               </div>
            </p>
          </div>

          <div class="form-group">
           <p>
             <div class="col-sm-offset-4 col-sm-4"><br/>
                <%= f.submit class: 'btn btn-primary' %>
              </div>
            </p>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>


