<h1>Listing Jobs</h1>

<div class="pull-right">
  <% if policy(@active_jobs).create? %>
    <%= link_to 'Post Job', new_job_path %>
  <% end %>
</div>

<ul id="myTabs" class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
    <a href="#active" id="active-tab" role="tab" data-toggle="tab" aria-controls="active" aria-expanded="true">Active</a></li>
  <li role="presentation" class="">
    <a href="#hold" role="tab" id="hold-tab" data-toggle="tab" aria-controls="hold" aria-expanded="false">Hold</a>
  </li>
  <li role="presentation" class="">
    <a href="#close" role="tab" id="close-tab" data-toggle="tab" aria-controls="close" aria-expanded="false">Close</a>
  </li>
</ul>
<div id="myTabContent" class="tab-content">
  <div role="tabpanel" class="tab-pane fade active in" id="active" aria-labelledby="active-tab">
    <%= render partial: 'jobs', locals: {jobs: @active_jobs} %>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="hold" aria-labelledby="hold-tab">
    <%= render partial: 'jobs', locals: {jobs: @hold_jobs} %>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="close" aria-labelledby="close-tab">
    <%= render partial: 'jobs', locals: {jobs: @closed_jobs} %>
  </div>
</div>
