<h1 style="text-align: center; margin-bottom: 5%">Create Job</h1>

<% if current_user.templates.count == 0 %>
  <div class="alert alert-danger" role="alert">
    Need template before posting job. Click here to <%= link_to 'Create Template.', new_template_path %>
  </div>
<% end %>

<%= render 'form' %>

