<div class="row" style="padding-top: 5px">
  <% if submissions.any? %>
    <div class="col-md-3">
      <div class="applicants_list slim-scroll">
        <ul class="nav nav-stacked">
          <% submissions.each_with_index do |submission, i| %>
            <%= content_tag :li, data: {path: get_submission_job_submission_path(job, submission)} do %>
              <%= link_to submission.user.full_name, get_submission_job_submission_path(job, submission, tab: tab), class: i == 0 ? 'active' : '', remote: true %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <% @submission = submissions.first %>
      <% @resume_sections ||= @submission.resume.resume_sections.order('id asc') %>
      <div class="<%= tab %>_resume_view">
        <%= render partial: 'resume', locals: {submission: @submission, resume_sections: @resume_sections} %>
      </div>
    </div>
  <% else %>
    <div class="col-md-12">
      <div class="well-sm text-info">
        No submissions
      </div>
    </div>
  <% end %>
</div>

<script>
  $('.slim-scroll').slimScroll({height: 400});
  $('.applicants_list ul li a').on('click', function (e) {
    $('.applicants_list ul li a').removeClass('active');
    $(this).addClass('active');
    var path = $(this).data("path");
//    $.get(path, dataType = 'script')
  });
</script>
