<table class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>

  <% if submissions.any? %>
    <% submissions.each do |submission| %>
      <tr>
        <td><%= submission.user.full_name %></td>
        <td>
          <%= link_to 'View Resume', job_submission_resume_path(job,submission,submission.resume.id) %>
          <% if submission.interview_scheduled? %>
            &nbsp;|&nbsp; Interview scheduled
            on <%= submission.interview.date.strftime('%Y %b %d') %>
            at <%= submission.interview.date.strftime('%I:%M %P') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr class="text-info">
      <td colspan="3">No submissions</td>
    </tr>
  <% end %>
  </tbody>
</table>