<h1><%= @job.title %> Submissions</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% if @submissions.any? %>
      <% @submissions.each do |submission| %>
        <tr>
          <td><%= submission.user.full_name %></td>
          <td>
            <%= link_to 'View Resume', job_submission_resume_path(@job,submission,submission.resume.id) %>&nbsp;&nbsp;
            <%= link_to 'Destroy', job_submission_path(@job,submission), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
  <% else %>
    <tr class="text-info">
      <td colspan="2">No submissions</td>
    </tr>
  <% end %>
  </tbody>
</table>