<h1 class="text-primary"> My Submissions</h1>
<div class="row">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Job Title</th>
      <th>Status</th>
      <th>Resume</th>
      <th>Applied on</th>
    </tr>
    </thead>
    <tbody>
    <% @submissions.each do|submission| %>
      <tr>
        <% job = submission.job %>
        <td><%= link_to job.title, job_path(job) %></td>
        <td><%= submission.status.titlecase %></td>
        <td><%= link_to 'View Resume', job_submission_resume_path(job,submission,submission.resume.id) %></td>
        <td><%= submission.created_at.strftime('%B %d, %Y') %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>