// Place all the styles related to the submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video_section{
  border: 1px solid #CCCCCC;
  text-align: center;
  padding: 10px;
}
.comments_section{
	li {
	margin-bottom: 3px;
	}
}
