<div class="form-group">
  <div class="btn-group" data-toggle="buttons">
    <% if current_user.hm? %>
      <label class="btn btn-default">
        <input type="radio" name="next_action" value="hire" id="option1" autocomplete="off" required> Hire
      </label>
      <label class="btn btn-default">
        <input type="radio" name="next_action" value="interview" id="option2" autocomplete="off" required> Interview
      </label>
    <% elsif current_user.consultant? %>
      <label class="btn btn-default">
        <input type="radio" name="next_action" value="process" id="option1" autocomplete="off" required> Submit to HM
      </label>
    <% end %>
    <!-- <label class="btn btn-default">
      <input type="radio" name="next_action" value="park" id="option3" autocomplete="off"> Park
    </label>   <br> -->
    <label class="btn btn-default">
      <input type="radio" name="next_action" value="undecided" id="option5" autocomplete="off" required> Undecided
    </label>
    <label class="btn btn-default">
      <input type="radio" name="next_action" value="reject" id="option4" autocomplete="off" required> Reject
    </label>
  </div>
</div>

<div class="form-group comment-block">
  <%= text_area_tag :comment, '', class: 'form-control', placeholder: "Leave your comment here", rows: 4 %>
</div>

<script>
  $("input[name='next_action']").on('change', function() {

    $("input[name='next_action']").each(function(){
      $(this).closest('label').removeClass('btn-success').addClass('btn-default');
    });
    $(this).closest('label').removeClass('btn-default').addClass('btn-success');
  });
</script>