- if current_user.hm?
  - if @submission.processing?
    p
      = link_to 'Interview', new_job_submission_interview_path(@job, @submission), class: 'btn btn-primary'
    p
      = link_to 'Park', '#', class: 'btn btn-info comment-btn', data: {status: 'park'}
  - elsif @submission.parked?
    p
      = link_to 'Interview', new_job_submission_interview_path(@job, @submission), class: 'btn btn-primary'
  - elsif @submission.interview_scheduled?
    p
      = link_to 'Edit Interview', edit_job_submission_interview_path(@job, @submission, @submission.interview), class: 'btn btn-success'
    p
      = link_to 'Hire', change_status_job_submission_path(@job, @submission, status: 'hire'), class: 'btn btn-info comment-btn', data: {status: 'hire'}, confirm: "Are you sure you want to hire the candidate?"
  - elsif @submission.hired?
    h3
      span class="label label-success"
        ' Hired
  - unless @submission.discarded? || @submission.hired?
    p
      = link_to 'Reject', '#', class: 'btn btn-danger comment-btn', data: {status: 'discard'}
- elsif current_user.consultant?
  - if @submission.processing?
    p
      = link_to 'Submitted to HM', '#', class: 'btn btn-primary disabled'
  - if @submission.submitted?
    p
      = link_to 'Submit to HM', change_status_job_submission_path(@job, @submission, status: 'process'), class: 'btn btn-primary'
    p
      = link_to 'Park', '#', class: 'btn btn-info comment-btn', data: {status: 'park'}
    p
      = link_to 'Reject', '#', class: 'btn btn-danger comment-btn', data: {status: 'discard'}
  - elsif @submission.parked?
    p
      = link_to 'Submit to HM', change_status_job_submission_path(@job, @submission, status: 'process'), class: 'btn btn-primary'
    p
      = link_to 'Reject', '#', class: 'btn btn-danger comment-btn', data: {status: 'discard'}
  - elsif @submission.discarded?
    p
      = link_to 'Submit to HM', change_status_job_submission_path(@job, @submission, status: 'process'), class: 'btn btn-primary'
    p
      = link_to 'Park', '#', class: 'btn btn-info comment-btn', data: {status: 'park'}